.popup{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000a0;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 1;
}

.popup_opened{
  display: flex;
}

.popup_opened-add{
  display: flex;
}

.popup__button-close{
    position: relative;
    width: 40px;
    margin-left: 455px;
    margin-bottom: 11px;
    cursor: pointer;
}


.popup__button-close:hover{
  opacity: 50%;
  cursor: pointer;
}

.popup__form{
    max-width: 430px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px #00000026;
    border-radius: 5px;
    padding: 30px;
    color:#C4C4C4;
}

.popup__title{
    margin: 0 ;
    margin-bottom: 50px;
    color: #000;
    max-width: 330px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.popup__field{
    border-style:none;
    margin-bottom: 35px;
    padding: 0;
    outline: none;
    max-width: 358px;

}
.popup__input{
    outline-style:none ;
    width: 358px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 8px;
    font-size: 14px;
    margin: 15px 0 8px 0;

}

.popup__input_type_error{
  border-bottom: 2px solid red;
}

.popup__error_visible {
  font-size: 12px;
  color: red;
}

.popup__input:valid {
  border-bottom: 1px solid green;
}

.popup__button-submit{
    width: 358px;
    border: 1px solid #C4C4C4;
    background-color: #000;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    color: #C4C4C4;
    font-size: 14px;
}

.popup__button-submit:hover{
    cursor: pointer;
    opacity: 80%;
}

.popup__button_disabled{
  background-color: #fff;

}

@media ( min-width:320px) and (max-width:476px) {
    .popup__form{
        max-width: 265px;
        padding: 65px 23px;
        display: flex;
        flex-direction: column;

    }
    .popup__title{
        font-size: 18px;
    }

    .popup__input{
        max-width: 277px;
    }

    .popup__button-submit{
        width: 265px;
    }

    .popup__button-close{
        margin-left: 297px;
        width: 26px;
    }

}