.profile{
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;

}

.profile__user{
    display: flex;
    align-items: center;
}


.profile__photo{
    width: 120px;
    padding-right: 32px;
}

.profile__data{
    display: flex;
    align-items: center;
}

.profile__name{
    max-width: 375px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__button-edit{
  margin-left: 15px;
  cursor:pointer;
}
.profile__button-edit:hover{
    opacity: 50%;
}

.profile__data-about{
    max-width: 250px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin:0;
    margin-top: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.profile__button{
    width: 150px;
    height: 50px;
    display: flex;
    border: 1px solid #fff;
}

.profile__button:hover{
    opacity: 50%;

}


.profile__button-add{
    background: url(../images/Vectormas.png);
    border: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: auto;
}



@media (min-width: 320px) and (max-width:476px){
    .profile__data{
        margin-top: 35px;
    }
    .profile{
        flex-direction: column;
    }

    .profile__photo{
        padding: 0;
    }
    .profile__user{
        flex-direction: column;
        margin-top: 20px;
    }

    .profile__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile__data-about{
        font-size: 14px;
        text-align: center;

    }
    .profile__name{
        font-weight: 500;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }

    .profile__button-edit{
        width: 18px;
        height: 18px;
        object-fit: cover;
    }

    .profile__button{
        margin-top: 30px;
    }


}