body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: #000;
    color:#fff;
}

.header{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 880px;
    margin: auto;
    padding: 5% 0;
}

.header__logo{
    width: 173px;
    height: 33px;
    padding-bottom: 5%;
}


.profile{
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    
}

.profile__user{
    display: flex;
    align-items: center;
}

.profile__photo{
    width: 120px;
    padding-right: 32px;
}

.profile__user_name{
    display: flex;
    flex-direction: column;   
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

.profile__text_small{    
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-top: 10px;
}

.profile__button_edit{
    margin: 0 0 20px 10px;
}

.profile__button{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.profile__button_add{
    
}

.profile__button_mas{
    position: absolute;  
}

.gallery{
    max-width: 880px;
    margin: 60px auto;
}

.gallery_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    
}

.gallery__valle{
    width: 282px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.gallery__group{
    background-image: url(/images/Rectanglegroup.png);
    width: 282px;
    color: #000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gallery__description{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.gallery__name{
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
}
.gallery__like{
    width: 21px;
}

.footer{
    max-width: 880px;
    margin: 0 auto 60px;
}

.copyrigth{
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.popup{
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 1;
    
}

.popup__container{
    max-width: 430px;
    background-color: #fff;
    z-index: 2;
}

.popup__input{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
