body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: #000;
    color:#fff;
}

.header{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 880px;
    margin: auto;
    padding: 5% 0;
}

.header__logo{
    width: 173px;
    height: 33px;
    padding-bottom: 5%;
}

.header__line{
    max-width: 880px;
    border: 1px solid #545454;
}


.profile{
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    
}

.profile__user{
    display: flex;
    align-items: center;
}

.popup{
    display: none;
}

.profile__photo{
    width: 120px;
    padding-right: 32px;
}

.profile__content{
    display: flex;
    align-items: center;
}

.profile__user_name{ 
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

.profile__about{    
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin:0;
    margin-top: 15px;
}

.profile__button_edit{
    margin-left: 15px;
    cursor:pointer;
}

.popup{
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000078;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 1;   
}

.popup_opened{
    display: flex;
}

.popup__button-close{
    position: relative;
    margin-left: 455px;
    margin-bottom: 11px;
    cursor: pointer;
}

.popup__form{
    max-width: 430px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px #00000026;
    border-radius: 5px;
    padding: 30px;
    color:#C4C4C4;
}

.popup__title{
    margin: 0 ;
    margin-bottom: 50px;
    color: #000;
    max-width: 330px;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1px;
}

.popup__field{
    border-style:none;
    margin-bottom: 35px;
    padding: 0;
    outline: none;
    
}
.popup__input{
    outline-style:none ;
    width: 358px;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 8px;
    
}

.popup__button-submit{
    width: 358px;
    border: 1px solid #C4C4C4;
    background-color: #fff;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    color: #C4C4C4;
}

.popup__button-submit:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.profile__button{
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile__button_mas{
    position: absolute;  
}

.gallery{
    max-width: 880px;
    margin: 60px auto;
}

.gallery_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    
}

.gallery__valle{
    width: 282px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.gallery__group{
    background-image: url(/images/Rectanglegroup.png);
    width: 282px;
    color: #000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gallery__description{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.gallery__name{
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
}
.gallery__like{
    width: 21px;
}

.footer{
    max-width: 880px;
    margin: 0 auto 60px;
}

.copyrigth{
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}





@media (min-width:320px) and (max-width: 476px) {

    .page{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header__logo{
        width: 126px;
        height: 24px;
    }

    .header__line{
        width: 320px;
        margin-top: 16px;
    }
    .gallery_grid{
        grid-template-columns: 1fr;
    }

    .profile__content{
        margin-top: 35px;
    }
    .profile{
        flex-direction: column;
    }

    .profile__photo{
        padding: 0;
    }
    .profile__user{
        flex-direction: column;
        margin-top: 20px;
    }

    .profile-user{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile__about{
        font-size: 14px;
        text-align: center;

    }
    .profile__user_name{
        font-weight: 500;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }

    .profile__button_edit{
        width: 18px;
        height: 18px;
        object-fit: cover;
    }

    .profile__button{
        margin-top: 30px;
    }

    .profile__button_rectangle{
        width: 282px;
        height: 50px;
    }

    .gallery{

    max-width: 282px;
    }

    .footer{
        max-width: 282px;
    }

    .popup__form{
        max-width: 282px;
    }
}